[build]
  command = "npm run build"
  publish = "."



# Ensure admin panel works
[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200

# Redirect everything else to index.html for SPA routing
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false
